@import "tailwindcss";

:root {
  --main-purple: rgb(74, 37, 225);
  --main-black: #120f43;
  --main-gray: #fdfeff;
}
* {
  box-sizing: border-box;
   font-family: 'Poppins', sans-serif;
  /* font-family: 'Poppins', sans-serif; */
}
